# Ignore Python virtual environment
venv/

# Ignore __pycache__ and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env

# Ignore VS Code settings
.vscode/

# Ignore OS/system files
.DS_Store
Thumbs.db
